# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# CMake files
CMakeFiles/
cmake_install.cmake
Makefile
CMakeCache.txt

# Build targets
build/doctor

