# Compiled Object files
build/doctor
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# CMake & make files
Makefile
CMakeCache.txt
CMakeFiles/*
cmake_*

# Sublime workspace file
doctor.sublime-workspace

# CTags index files
.tags*

# Mac OS X
.DS_Store
