.edit-patient {
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 20px;
	padding-bottom: 20px;
	float: left;
	width: 80%;
}

.edit-patient_field {
	padding-top: 10px;
	padding-bottom: 10px;
	float: left;
	width: 100%;
}

.edit-patient_field:hover {
	background-color: #efefef;
}

.edit-patient_label {
	padding-left: 1%;
	font-size: 20px;
	float: left;
	width: 46%;
}

.edit-patient_input {
	margin-right: 2%;
	float: right;
	width: 50%;
}

.edit-patient_sex {
	float: right;
}

.edit-patient_sex_text {
	float: right;
}

.edit-patient_button {
	padding-top: 10px;
	padding-bottom: 10px;
	float: right;
	width: 33%;
	text-align: center;
}

.edit-patient_button:hover {
	background-color: #efefef;
}

.edit-patient_button_text {
	font-size: 20px;
}
