/**
 * Стили всплывающего(уведомляющего) окна.
 */

.popup-window {
	position: absolute;
	width: 30%;
	left: 35%;
	top: 20%;
	border-radius: 5px;
	opacity: 0.9;
	filter: alpha(opacity=90);

	display: none;
}

.popup-window-top-border {
	background-color: #f792bb;
	text-align: center;
}

.popup-window-title {
	font-size: 16px;
}

.popup-window-viewport {
	padding-top: 10px;
	background-color: pink;
	text-align: center;
	font-size: 18px;
}

.popup-window-text {
}

.popup-window-button {
	padding-top: 10px;
	/* background-color: white; */
}

.popup-window-button-caption {

}