/*
	Стили элементов реализующих функционал настройки УЗИ-аппаратов.
*/

.settings-machines {
	margin-left: 1%;
	float: left;
	width: 99%;
}

.settings-machines-caption {
	margin-bottom: 20px;
	float: left;
	width: 100%;
	font-size: 20px;
}

.settings-machine-header {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 1%;
	float: left;
	width: 99%;
	text-align: center;
	border-radius: 6px;
}

.settings-machine-header:hover {
	background-color: #f3b5ec !important;
}

.settings-machine-header-active {
	background-color: pink !important;
}

.settings-machine-header-caption {
}

.settings-machine-info {
	display: none;
}

.settings-machine-info-section {
	float: left;
	width: 100%;
}

.settings-machine-info-name-label {
	margin-left: 1%;
	float: left;
	width: 39%;
	font-size: 18px;
}

.settings-machine-info-name-input {
	margin-right: 1%;
	float: right;
	width: 58%;
}

.settings-machine-info-sensors-label {
	margin-left: 1%;
	float: left;
	width: 39%;
	font-size: 18px;
}

.settings-machine-info-sensors-input {
	margin-right: 1%;
	float: right;
	width: 58%;
}

.settings-machine-info-remove {
	padding-top: 10px;
	padding-bottom: 10px;
	float: right;
	width: 50%;
	text-align: center;
}