<script>
	function onAbdomenAcousticAccessChange (access) {
		if (access == "satisfactory")
			$(".abdomen-acoustic_access-reason").hide();
		else
			$(".abdomen-acoustic_access-reason").show();
	}
	function onAbdomenParenchymaStructureChange (structure) {
		if (structure == "homogeneous") {
			$(".abdomen-perenchyma-structure-homogeneous").show();
			$(".abdomen-perenchyma-structure-inhomogeneous").hide();
		} else {
			$(".abdomen-perenchyma-structure-homogeneous").hide();
			$(".abdomen-perenchyma-structure-inhomogeneous").show();
		}
	}
	function onAbdomenParenchymaStructureInchomogeneousChange (inhomogeneous) {
		if (inhomogeneous == "focal")
			$(".abdomen-perenchyma-structure-inhomogeneous-focal").show();
		else
			$(".abdomen-perenchyma-structure-inhomogeneous-focal").hide();
	}
	function onAbdomenEchogencityChange (echogenicity) {
		if (echogenicity == "increased" || echogenicity == "reduced") {
			$(".abdomen-echogenicity-increased-or-reduced").show();
			if (echogenicity == "increased") {
				$(".abdomen-echogenicity-increased").show();
				$(".abdomen-echogenicity-reduced").hide();
			} else {
				$(".abdomen-echogenicity-increased").hide();
				$(".abdomen-echogenicity-reduced").show();
			}
		} else {
			$(".abdomen-echogenicity-increased-or-reduced").hide();
			$(".abdomen-echogenicity-increased").hide();
			$(".abdomen-echogenicity-reduced").hide();
		}
	}
	function onAbdomenBulkFormationsChange (bulk_formation) {
		if (bulk_formation == "detected")
			$(".abdomen-bulk-formations-description").slideDown();
		else
			$(".abdomen-bulk-formations-description").slideUp();
	}
	function onAbdomenIntrahepaticBileDuctsChange (intrahepatic_bile_ducts) {
		if (intrahepatic_bile_ducts == "expanded")
			$(".abdomen-intrahepatic-bile-ducts-expanded").show();
		else
			$(".abdomen-intrahepatic-bile-ducts-expanded").hide();
	}

	function onGallbladderLocationChange (location) {
		$(".gallbladder-location-inversion").hide();
		$(".gallbladder-location-distopia").hide();
		if (location == "inversion" || location == "dystopia") {
			if (location == "inversion")
				$(".gallbladder-location-inversion").show();
			else
				$(".gallbladder-location-distopia").show();
		}
	}
	function onGallbladderFormChange (form) {
		if (form == "bend")
			$(".gallbladder-form-bend").show();
		else
			$(".gallbladder-form-bend").hide();
	}
	function onGallbladderWallChange (thinked) {
		if (thinked == "thinked")
			$(".gallbladder-wall-thinked").show();
		else
			$(".gallbladder-wall-thinked").hide();
	}

	$(".gallbladder-destiny").click (function () {
		$(this).toggleClass("gallbladder-destiny-active");
		if ($(this).attr("data-value") == "single-structure")
			$('#gallbladder-destiny-single-structure').slideToggle();
		if ($(this).attr("data-value") == "group-structures")
			$('#gallbladder-destiny-group-structures').slideToggle();
	});

	function onPancreadContouresSmoothChange (uneven) {
		if (uneven == "uneven")
			$(".pancreas-contoures-smooth-uneven").show();
		else
			$(".pancreas-contoures-smooth-uneven").hide();
	}
	function onPancreasDimentionsChange (increased) {
		if (increased == "increased")
			$(".pancreas-dimentions-increased").show();
		else
			$(".pancreas-dimentions-increased").hide();
	}
	function onPancreasStructureChange (uniform) {
		if (uniform == "uniform")
			$(".pancreas-structure-uniform").show();
		else
			$(".pancreas-structure-uniform").hide();
	}
</script>

<style>
	.abdomen-dimensions-input {
		margin-left: 15px;
		width: 60px;
		text-align: center;
	}

	.abdomen-vena-porta-input {
		margin-left: 15px;
		margin-right: 15px;
		width: 60px;
		text-align: center;
	}

	.gallbladder-dimensions-input {
		margin-left: 15px;
		width: 60px;
		text-align: center;
	}

	.gallbladder-wall-input {
		margin-left: 15px;
		width: 60px;
		text-align: center;
	}

	.gallbladder-destiny {
		padding-top: 5px;
		padding-bottom: 5px;
		border-radius: 6px;
		text-align: center;
	}

	.gallbladder-destiny:hover {
		background-color: #f3b5ec;
	}

	.gallbladder-destiny-active {
		background-color: pink;
	}

	.gallbladder-destiny-structure-input {
		margin-left: 10px;
		margin-right: 10px;
		width: 60px;
		text-align: center;
	}

	.gallbladder-common-bile-duct-input {
		margin-left: 15px;
		width: 60px;
		text-align: center;
	}

	.pancreas-dimentions-input {
		margin-left: 15px;
		width: 60px;
		text-align: center;
	}
</style>

<div class="edit-servey-type-section">
	<h2 class="edit-servey-type-section-label">Брюшная полость</h2>
	<div class="edit-servey-section">
		<span>Акустический доступ:</span>
		<select name="abdomen-acoustic_access" onchange="onAbdomenAcousticAccessChange(this.options[this.selectedIndex].value)">
			<option value="satisfactory">удовлетворительный</option>
			<option value="difficult">затруднён</option>
			<option value="unaccessable">невозможен</option>
		</select>
		<select style="display: none;" name="abdomen-acoustic_access-reason" class="abdomen-acoustic_access-reason">
			<option value="increased-pneumatization">повышенная пневматизация петель кишечника</option>
			<option value="developed-fat-layer">развитый подкожно-жировой слой</option>
			<option value="content-in-stomach">наличие содержимого в желудке и двенадцатиперстной кишке</option>
		</select>
	</div>


	<div class="edit-servey-type-subsection">
		<h3 class="edit-servey-type-subsection-label">Печень</h3>
		<div class="edit-servey-section">
			<span>Расположение:</span>
			<select name="abdomen-location">
				<option value="right-upper-quadrant">в правом подреберье</option>
				<option value="omitted">опущена</option>
				<option value="rotated">ротирована</option>
			</select>
		</div>
		<div class="edit-servey-section">
			<span>Форма:</span>
			<select name="abdomen-form">
				<option value="whithin-anatomical-configuration">нома</option>
				<option value="deformed">деформирована</option>
				<option value="incremental-share-of-Riedel">добавочная доля</option>
			</select>
		</div>
		<div class="edit-servey-section">
			<span>Контур:</span>
			<select name="abdomen-contour">
				<option value="smooth">ровный, чётко очерченный</option>
				<option value="uneven">неровный, бугристый</option>
			</select>
		</div>
		<div class="edit-servey-section">
			<span>Нижний край:</span>
			<select name="abdomen-lower_edge">
				<option value="acute">острый</option>
				<option value="rounded">закруглён</option>
			</select>
		</div>
		<div class="edit-servey-section">
			<span>Размеры:</span>
			<select name="abdomen-dimensions">
				<option value="not-reduced">не уменьшены</option>
				<option value="reduced">уменьшены</option>
				<option value="enlarged">увеличены</option>
			</select>
			<div style="margin-left: 15px;">
				<div>
					<span>КВР правой доли</span><input class="abdomen-dimensions-input" name="abdomen-vertical-size-right-lobe" />
				</div>
				<div>
					<span>Толщина правой доли</span><input class="abdomen-dimensions-input" name="abdomen-thickness-right-lobe" />
				</div>
				<div>
					<span>ККР левой доли</span><input class="abdomen-dimensions-input" name="abdomen-craniocaudal-size-left-lobe" />
				</div>
				<div>
					<span>Толщина левой доли</span><input class="abdomen-dimensions-input" name="abdomen-thickness-left-lobe" />
				</div>
			</div>
		</div>
		<div class="edit-servey-section">
			<span>Структура паренхимы:</span>
			<select name="abdomen-parenchyma-structure" onchange="onAbdomenParenchymaStructureChange(this.options[this.selectedIndex].value)">
				<option value="homogeneous">однородная</option>
				<option value="inhomogeneous">неоднородная</option>
			</select>
			<select name="abdomen-perenchyma-structure-homogeneous" class="abdomen-perenchyma-structure-homogeneous">
				<option value="fine-grained">мелкозернистая</option>
				<option value="coarse">крупнозернистая</option>
			</select>
			<span class="abdomen-perenchyma-structure-inhomogeneous">
				<select style="display: none;" name="abdomen-perenchyma-structure-inhomogeneous" \
					class="abdomen-perenchyma-structure-inhomogeneous" \
					onchange="onAbdomenParenchymaStructureInchomogeneousChange(this.options[this.selectedIndex].value)"
				>
					<option value="diffysely">диффузно</option>
					<option value="focal">очагово</option>
				</select>
				<select style="display:none;" name="abdomen-perenchyma-structure-inhomogeneous-focal" class="abdomen-perenchyma-structure-inhomogeneous-focal">
					<option value="microfocal">мелкоочагово</option>
					<option value="macrofocal">крупноочагово</option>
				</select>
			</span>
		</div>
		<div class="edit-servey-section">
			<span>Эхогенность:</span>
			<select name="abdomen-echogenicity" onchange="onAbdomenEchogencityChange(this.options[this.selectedIndex].value)">
				<option value="not-altered_kidney">норма</option>
				<option value="increased">повышена</option>
				<option value="reduced">понижена</option>
				<option value="mixed">смешаная</option>
			</select>
			<div>
				<select style="display: none;" name="abdomen-echogenicity-increased-or-reduced" class="abdomen-echogenicity-increased-or-reduced">
					<option value="evenly">равномерно</option>
					<option value="irregularly">неравномерно</option>
				</select>
				<select style="display: none;" name="abdomen-echogenicity-increased" class="abdomen-echogenicity-increased">
					<option value="insignificantly">незначительно</option>
					<option value="moderately">умеренно</option>
					<option value="significantly">значительно</option>
				</select>
				<select style="display: none;" name="abdomen-echogenicity-reduced" class="abdomen-echogenicity-reduced">
					<option value="moderately">умеренно</option>
					<option value="significantly">значительно</option>
				</select>
			</div>
		</div>
		<div class="edit-servey-section">
			<span>Звукопроводимость:</span>
			<select name="abdomen-sound-conduction">
				<option value="normal">обычная</option>
				<option value="reduced">снижена</option>
			</select>
		</div>
		<div class="edit-servey-section">
			<span>Сосудистый рисунок:</span>
			<select name="abdomen-vascular-pattern">
				<option value="not-changed">не изменён</option>
				<option value="enriched">обогащён</option>
				<option value="depleted">обеднён</option>
				<option value="deformed">деформирован</option>
			</select>
		</div>
		<div class="edit-servey-section">
			<span>Воротная вена:</span>
			<input name="abdomen-vena-porta-size" class="abdomen-vena-porta-input"/>
			<select name="abdomen-vena-porta-status">
				<option value="not-expanded">не расширена</option>
				<option value="expanded">расширена</option>
			</select>
		</div>
		<div class="edit-servey-section">
			<span>Объёмные образования:</span>
			<select name="abdomen-bulk-formations" onchange="onAbdomenBulkFormationsChange(this.options[this.selectedIndex].value)">
				<option value="not-detected">не выявлены</option>
				<option value="detected">выявлены</option>
			</select>
			<textarea style="display: none;" name="abdomen-bulk-formations-description" class="abdomen-bulk-formations-description" rows="5" cols="40" />
		</div>
		<div class="edit-servey-section">
			<span>Внутрипечёночные желчные протоки:</span>
			<select name="abdomen-intrahepatic-bile-ducts" onchange="onAbdomenIntrahepaticBileDuctsChange(this.options[this.selectedIndex].value)">
				<option value="not-expanded">не расширены</option>
				<option value="expanded">расширены</option>
			</select>
			<select style="display: none;" name="abdomen-intrahepatic-bile-ducts-expanded" class="abdomen-intrahepatic-bile-ducts-expanded">
				<option value="greatly">значительно</option>
				<option value="right-lobe">в правой доле</option>
				<option value="left-lobe">в левой доле</option>
				<option value="both-lobes">в обеих долях</option>
			</select>
		</div>
	</div>


	<div class="edit-servey-type-subsection">
		<h3 class="edit-servey-type-subsection-label">Желчный пузырь</h3>
		<div class="edit-servey-section">
			<span>Расположение:</span>
			<select name="gallbladder-location" onchange="onGallbladderLocationChange(this.options[this.selectedIndex].value)">
				<option value="typical">типичное</option>
				<option value="intrahepatic">внутрипеченочное</option>
				<option value="inversion">инверсия</option>
				<option value="dystopia">дистопия</option>
				<option value="interposition">интерпозиция</option>
			</select>
			<select style="display: none;" name="gallbladder-location-inversion" class="gallbladder-location-inversion">
				<option value="left-hypohondrium">в левое подребрие</option>
				<option value="midline">по средней линии</option>
			</select>
			<select style="display: none;" name="gallbladder-location-dystopia" class="gallbladder-location-distopia">
				<option value="right-iliac">в правую подвздошную</option>
				<option value="pelvis">в малый таз</option>
			</select>
		</div>
		<div class="edit-servey-section">
			<span>Форма:</span>
			<select name="gallbladder-form" onchange="onGallbladderFormChange(this.options[this.selectedIndex].value)">
				<option value="not-changed">не изменена</option>
				<option value="bend">перегиб</option>
			</select>
			<select style="display: none;" name="gallbladder-form-bend" class="gallbladder-form-bend">
				<option value="in-body">в области тела</option>
				<option value="in-neck">в шейке</option>
				<option value="S-shaped">S-образный</option>
				<option value="U-shaped">U-образный</option>
				<option value="phrygian-cap">фригийский колпак</option>
			</select>
		</div>
		<div class="edit-servey-section">
			<span>Внешний контур:</span>
			<select name="gallbladder-outer-contour-precise">
				<option value="precise">четкий</option>
				<option value="distinct">не четкий</option>
			</select>
			<select name="gallblaader-outer-contour-smooth">
				<option value="smooth">ровный</option>
				<option value="uneven">неровный</option>
			</select>
		</div>
		<div class="edit-servey-section">
			<span>Внутренний контур:</span>
			<select name="gallbladder-inner-contour">
				<option value="precise">ровный</option>
				<option value="distinct">неровный</option>
			</select>
		</div>
		<div class="edit-servey-section">
			<span>Размеры:</span>
			<select name="gallbladder-dimensions">
				<option value="not-changed">не изменены</option>
				<option value="increased">увеличены</option>
				<option value="reduced">уменьшены</option>
				<option value="wrinkled">сморщен</option>
				<option value="physiological-reduction">физиологическое сокращение</option>
			</select>
			<div style="margin-left: 15px;">
				<div>
					<span>Длинник</span>
					<input class="gallbladder-dimensions-input" name="gallbladder-dimensions-length" />
				</div>
				<div>
					<span>Поперечник</span>
					<input class="gallbladder-dimensions-input" name="gallbladder-dimensions-diameter" />
				</div>
				<div>
					<span>Площадь</span>
					<input type="" class="gallbladder-dimensions-input" name="gallbladder-dimensions-square" />
				</div>
			</div>
		</div>
		<div class="edit-servey-section">
			<span>Стенка желчного пузыря:</span>
			<input class="gallbladder-wall-input" name="gallbladder-wall-size" />
			<select name="gallbladder-wall" onchange="onGallbladderWallChange(this.options[this.selectedIndex].value)">
				<option value="not-thinked">не утолщена</option>
				<option value="thinked">утолщена</option>
				<option value="thinned">истончена</option>
			</select>
			<select style="display: none;" name="gallbladder-wall-thinked" class="gallbladder-wall-thinked">
				<option value="evenly">равномерно</option>
				<option value="irregularly">неравномерно</option>
				<option value="much">значительно</option>
			</select>
			<div>
				<select name="gallbladder-wall-description">
					<option value="calcined">кальцинирована</option>
					<option value="uniform-echogenicity">представлена однородной тонкой линией умеренно повышенной эхогенности</option>
					<option value="high-and-low-echogenicity">состоит из участков повышенной и пониженной эхогенности</option>
					<option value="echogenicity-inclusions">с мелкими эхонегативными включениями (синусами Ашоффра-Рокитанского)</option>
					<option value="acoustic-shadow">с мелкими гиперэхогенными включениями с акустической тенью (эффектом реверберации)</option>
					<option value="layered-structure">имеет слоистое строение</option>
				</select>
			</div>
		</div>
		<div class="edit-servey-section">
			<span>Полость желчного пузыря:</span>
			<div style="margin-left: 15px; margin-right: 15px;">
				<div class="gallbladder-destiny button" data-value="anechogenic">
					<span>Анэхогенная</span>
				</div>
				<div class="gallbladder-destiny button" data-value="single-structure">
					<span>Единичная гиперэхогенная структура</span>
				</div>
				<div style="margin-left: 15px; display: none;" id="gallbladder-destiny-single-structure">
					<span>Размер:</span>
					<input class="gallbladder-destiny-structure-input" name="gallbladder-destiny-single-structure-size" />
				</div>

				<div class="gallbladder-destiny button" data-value="group-structures">
					<span>Группа гиперэхогенных структур</span>
				</div>
				<div style="margin-left: 15px; display: none;" id="gallbladder-destiny-group-structures">
					<span>Размером от</span>
					<input class="gallbladder-destiny-structure-input" name="gallbladder-destiny-group-structures-from" />
					<span>до</span>
					<input class="gallbladder-destiny-structure-input" name="gallbladder-destiny-group-structures-to" />
				</div>
				<div class="gallbladder-destiny button" data-value="">
					<span>Пристеночно sladge</span>
				</div>
				<div class="gallbladder-destiny button" data-value="">
					<span>Замазкообразная желчь</span>
				</div>
				<div class="gallbladder-destiny button" data-value="echogenic-suspension">
					<span>Эхогенная взвесь</span>
				</div>
				<div class="gallbladder-destiny button" data-value="">
					<span>Не содержит свободной желчи</span>
				</div>
				<div class="gallbladder-destiny button" data-value="gas-bubbles">
					<span>Мелкие пузырьки газа</span>
				</div>
				<div class="gallbladder-destiny button" data-value="oval-formation">
					<span>Солидное овально-округлое образование</span>
				</div>
				<div class="gallbladder-destiny button" data-value="non-homogeneous-echogenicity">
					<span>Солидное неоднородное образование повышенной эхогенности</span>
				</div>
			</div>
		</div>
		<div class="edit-servey-section">
			<span>Общий желчный проток:</span>
			<select name="gallbladder-common-bile-duct">
				<option value="not-extended">не расширен</option>
				<option value="expanded">расширен</option>
			</select>
			<input name="gallbladder-common-bile-duct-size" class="gallbladder-common-bile-duct-input" />
		</div>
		<div class="edit-servey-section">
			<span>Изменения в окружающих желчный пузырь тканях:</span>
			<select name="gallbladder-changes-surrounding-tissue">
				<option value="not-revealed">не выявлены</option>
				<option value="heterogeneous-hypoechoic-area">нечётко очерченная неоднородная гипоэхогенная зона</option>
				<option value="anehogennye-area">гипо- и анэхогенные участки</option>
				<option value="increased-echogenicity">повышение эхогенности ложа</option>
			</select>
		</div>
	</div>


	<div class="edit-servey-type-subsection">
		<h3 class="edit-servey-type-subsection-label">Поджелудочная железа</h3>
		<div class="edit-servey-section">
			<span>Форма:</span>
			<select name="pancreas-form">
				<option value="oblong">колбасовидная</option>
				<option value="dumbbell">гантелевидная</option>
				<option value="tadpole">типа "головастика"</option>
			</select>
		</div>
		<div class="edit-servey-section">
			<span>Контуры:</span>
			<select name="pancreas-contoures">
				<option value="clear">чёткие</option>
				<option value="fuzzy">нечёткие</option>
				<option value="underlined">подчёркнутые</option>
			</select>
			<select name="pancreas-contoures-smooth" onchange="onPancreadContouresSmoothChange(this.options[this.selectedIndex].value)">
				<option value="smooth">ровные</option>
				<option value="uneven">неровные</option>
			</select>
			<select style="display: none;" name="pancreas-contoures-smooth-uneven" class="pancreas-contoures-smooth-uneven">
				<option value="hummocky">бугристые</option>
				<option value="dentate">зубчатые</option>
				<option value="bulging-portion">участок выбухания</option>
			</select>
		</div>
		<div class="edit-servey-section">
			<span>Размеры:</span>
			<select name="pancreas-dimentions" onchange="onPancreasDimentionsChange(this.options[this.selectedIndex].value)">
				<option value="not-reduced">не уменьшены</option>
				<option value="increased">увеличены</option>
				<option value="reduced">уменьшены</option>
			</select>
			<select style="display: none;" name="pancreas-dimentions-increased" class="pancreas-dimentions-increased">
				<option value="diffysely">диффузно</option>
				<option value="local">локально</option>
				<option value="focal">очагово</option>
			</select>
			<div style="margin-left: 15px;">
				<div>
					<span>Головка:</span>
					<input class="pancreas-dimentions-input" name="pancreas-dimentions-head" />
				</div>
				<div>
					<span>Тело:</span>
					<input class="pancreas-dimentions-input" name="pancreas-dimentions-body" />
				</div>
				<div>
					<span>Хвост:</span>
					<input class="pancreas-dimentions-input" name="pancreas-dimentions-nail" />
				</div>
			</div>
		</div>
		<div class="edit-servey-section">
			<span>Структура:</span>
			<select name="pancreas-structure" onchange="onPancreasStructureChange(this.options[this.selectedIndex].value)">
				<option value="homogeneous">однородна</option>
				<option value="uniform">неоднородна</option>
			</select>
			<select style="display: none;" name="pancreas-structure-uniform" class="pancreas-structure-uniform">
				<option value="diffusely">диффузно</option>
				<option value="macrofocal">крупноочагово</option>
				<option value="spotty">пятнистая структура</option>
				<!-- <option value="chaotic-areas">в виде хаотических участков средней и повышенной эхогенности</option> -->
			</select>
		</div>
		<div class="edit-servey-section">
			<span>Эхогенность:</span>
			<select name="pancreas-echogenicity">
				<option value="comparable-liver-parebchyma">норма</option>
				<option value="increased">повышена</option>
				<option value="reduced">снижена</option>
				<option value="mixed">смешанная</option>
			</select>
		</div>
		<div class="edit-servey-section">
			<span>Главный панкреатический проток:</span>
			<select name="pancreas-main-duct">
				<option value="expanded">расширен</option>
				<option value="not-extended">не расширен</option>
			</select>
		</div>
	</div>

</div>

<script>
	function collectAbdomenData () {
		var select_data = $.map( $(".edit-servey-type-field-abdomen select:visible"), function (element) {
			return {
				name : element.name,
				value : element.value
			};
		});
		var input_data = $.map( $(".edit-servey-type-field-abdomen input:visible"), function (element) {
			return {
				name : element.name,
				value : element.value
			}
		});
		var textarea_data = $.map( $(".edit-servey-type-field-abdomen textarea:visible"), function (element) {
			return {
				name : element.name,
				value : element.value
			}
		});
		var data = $.merge(select_data, $.merge(input_data, textarea_data));
		var return_object = {};
		for (var counter = 0; counter < data.length; ++counter)
			return_object[data[counter].name] = data[counter].value;
		return {
			type : "abdomen",
			data : return_object
		}
	}
</script>